body {
    background-color: #BFB5A8;
    font-family: "Nunito", sans-serif;
}

img {
    height: 80px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #A6689C;
}